/*Basic setings*/
* {
	box-sizing: border-box;
}
a:focus{
	outline: none;
}
body{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	position: relative;
	margin: 0;
}
button:focus{
	outline: none;
}
html{
	font-size: 10px;
}
/*sidebar*/
.sidebar {
	text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 10rem;
  height: 100vh;
  z-index: 5;
}

.logo{
	padding-top: 3rem;
}
.logo img{
	width: 3rem;
}
.items{
	padding-top: 10rem;
}
.item{
	margin-bottom: 5rem;
}
.item img{
	width: 2rem;
}
.item-1 img{
	width: 1.6rem;
} 
.in{
	position: absolute;
	bottom: 4rem;
	left: 50%;
	margin-left: -1rem;
}
.in img{
	width: 2rem;
}
.hamburger{
	position: absolute;
	top: 3rem;
	right: 4rem;
	background-color: #fff;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	padding-top: 1.75rem;
	box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
	z-index: 99;
}
.hamburger span{
	display: block;
	margin: 2px auto;
	background-color: #0023ff;
	height: 2px;
	width: 30%;
}
/*main screen*/
.main{
	height: 100vh;
	min-height: 450px;
}
.main-item-1{
	height: 100%;
	background: url(../img/main-item-1.png) no-repeat center center;
	background-size: cover;
}
h2{
	margin: 0;
}
.main-item{
	padding-top: 7rem;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}
.main-item-1 h2{
	font-size: 10rem;
	font-weight: 100;
	position: relative;
	z-index: 1;
}
.main-item-1 h3{
	font-size: 2rem;
	margin-top: 2rem;
	font-weight: 300;
	position: relative;
	z-index: 1;
}
.main-item-1 span{
	font-weight: 900;
	font-size: 20rem;
	color: #e7e7e7;
	position: absolute;
	transform: translateX(-40%) translateY(-80%);
	z-index: 0;
}
.main-btn{
	position: relative;
	z-index: 1;
	margin-top: 1rem;
	background-color: #0023ff;
	border: none;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	padding: 1.3rem 4rem;
	font-size: 1.4rem;
}
/*Menu*/
.menu{
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	position: fixed;
	top: 0;
	right: 0;
	width: 30rem;
	background-color: #fff;
	height: 100vh;
}
#main-menu:target{
	transform: translateX(0);
}
#main-menu:target + .hamburger{
	display: none;
}
#close-menu span{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
}
#close-menu span:nth-child(1){
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
#close-menu span:nth-child(2){
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.navigation img{
	width: 4rem;
	vertical-align: middle;
	display: inline-block;
	margin-left: 2rem;
}
.navigation{
	text-align: right;
	padding-right: 5rem;
	padding-top: 10rem;
}
.navigation li{
	list-style-type: none;
}
.navigation a{
	line-height: 4;
	text-transform: uppercase;
	font-size: 2rem;
	color: #c1c1c1;
	text-decoration: none;
}
.categories-link{
	position: absolute;
	bottom: 1rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform-: translateX(-50%);
}
.categories-link a{
	text-transform: uppercase;
	color: #0023ff;
	text-decoration: none;
	font-weight: 400;
	font-size: 1rem;
}
.link-line{
	display: block;
	height: 2px;
	background-color: #0023ff;
	width: 70%;
	margin: 1rem auto;
}