*{
	box-sizing: border-box;
	font-family: Century Gothic, sans-serif;
	color: white;
}
body, p{
	margin: 0;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4{
	margin: 0;
}
.main{
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	background: url(..//img/ellipse.png) no-repeat 20px 0px;
	position: relative;
}
.main-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
  background-image: -moz-linear-gradient( 128deg, rgb(17,65,122) 0%, rgb(0,49,92) 100%);
  background-image: -webkit-linear-gradient( 128deg, rgb(17,65,122) 0%, rgb(0,49,92) 100%);
  background-image: -ms-linear-gradient( 128deg, rgb(17,65,122) 0%, rgb(0,49,92) 100%);
	z-index: -1;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 70%;
	height: 20vh;
}
ul{
	padding: 0;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 57%;
}
.logo p{
	font-size: 25px;
	font-weight: 900;
	color: #fff;
}
.Go{
	color: #e40023;
}
.logo .header-logo{
	font-size: 11px;
	font-weight: 300;
}
.contacts a{
	font-size: 18px;
	font-weight: 900;
}
.contacts p a{
	font-size: 13px;
	color: #e40023;
}
.main-text{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-top: 50px;
}
.main-text p{
	color: #fff;
}
.button p{
	width: 165px;
	height: 50px;
	border-radius: 5px;
	color: #fff;
}
.button{
	text-transform: uppercase;
	margin-top: 30px;
	width: 70%;
	display: flex;
	flex-direction: row;
	text-align: center;
	line-height: 50px;
}
p.enroll{
	font-weight: 900;
	font-size: 15px;
	background-color: #E40023;
	background-image: -moz-linear-gradient( -90deg, rgb(250,85,111) 0%, rgba(228,0,35,0) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(250,85,111) 0%, rgba(228,0,35,0) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(250,85,111) 0%, rgba(228,0,35,0) 100%);
	box-shadow: 0px 4px 0px 0px rgb(137, 19, 37);
}
.order{
	margin-left: 30px;
	font-size: 15px;
	border: 1px solid #fff;
	border-right-color: none;
}
.burg, .close-menu{
	display: none;
}
/*-----Почему English Go----------*/
.why-english{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #F6F6F6;
}
.why span, p{
	color: #000;
}
.gamb{
	display: none;
}
.why{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.why div{
	padding-left: 100px;
	width: 400px;
	margin: 35px;
}
.why span{
	font-weight: 900;
}
.why-english h2{
	color: #000;
	margin-top: 20px;
}
.why div:before{
	content: '';
	position: absolute;
	width: 62px;
  height: 62px;
  margin-left: -100px;
	border: 3px solid rgb(232, 54, 81);
  border-radius: 50%;
}
/*--------Обучение---------*/
.training{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.training h3{
	color: #000;
	margin: 30px;
}
input{
	color: #000;
	outline: none;
	padding-left: 50px;
	margin: 10px;
	width: 290px;
	height: 45px;
	border: 1px solid rgb(211, 211, 211);
	border-radius: 5px;
}
.free{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	background-color: #194D8C;
	border-radius: 3px; 
}
.free-left p{
	color: #fff;
}
.up{
	font-weight: 900;
	font-size: 24px;
	margin-bottom: 10px;
}
.free-left span{
	position: absolute;
	width: 280px;
	height: 2px;
	background-color: #fff;
	margin-top: -5px;
}
.down{
	font-size: 14px;
}
.form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 25px;
	border-radius: 3px;
	background-color: #fff;
	height: 310px;
	width: 340px;
}
form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text{
	text-align: center;
}
.text p>span{
	color: #000;
	font-weight: 900;
}
.form-name, .form-tel, .form-down{
	position: relative;
}
.form-name:before{
	content: '';
	position: absolute;
	border: 1px solid rgb(202, 201, 201);
  border-radius: 50%;
	height: 22px;
	width: 22px;
	top: 20px;
	left: 25px;
	z-index: 1;
}

.form-tel:before{
	content: '';
	position: absolute;
	border: 1px solid rgb(202, 201, 201);
  border-radius: 50%;
	height: 22px;
	width: 22px;
	top: 20px;
	left: 25px;
	z-index: 1;
}
.form-enroll{
	padding: 0;
	width: 145px;
	height: 40px;
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	background-color: #E40023;
}
.form-down{
	color: #a0a0a0;
	font-size: 9px;
}
.form-down:before{
	content: '';
	position: absolute;
	border: 1px solid rgb(202, 201, 201);
  border-radius: 50%;
	height: 15px;
	width: 15px;
	top: -3px;
	left: -25px;
}
/*---------Блоки----------*/
.training-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/*width: 80%;*/
}
.training-block div{
	margin-top: 40px;
	width: 460px;
	height: 110px;
}
.block1, .block2{
  background-color: rgb(228, 0, 35);
}
.block3, .block4{
  background-color: rgb(25, 77, 140);
}
.training-text{
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 20px 10px;
}
.training-text p{
	color: #fff;
}
.training-border{
	font-size: 18px;
	font-weight: 900;
	border-bottom: 1px solid #fff;
}
h4{
	color: #000;
	font-weight: 300;
	margin-top: 50px;
}
.training-group{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 40px;
}
.group{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 460px;
}
.date{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
  border-radius: 3px;
	width: 65px;
	height: 70px;
	background-color: #F3F3F3;
	font-size: 14px;
}
.date-namber{
	font-size: 30px;
}
.gruop-text p{
	font-size: 12px;
	color: #a5a5a5;
}
p.blue-text{
	font-weight: 900;
	font-size: 18px;
	color: #11417a;
}
.enroll-group{
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	padding: 0;
	width: 145px;
	height: 40px;
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	background-color: #E40023;
	border-radius: 5px; 
}
.enroll_text{
	color: rgb(228, 0, 35);
	font-size: 12px;
  font-weight: bold;
  text-align: center;	
}
.enroll-none{
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	padding: 0;
	width: 145px;
	height: 40px;
	color: rgb(209, 209, 209);
	font-weight: 900;
	font-size: 16px;
	background-color: #fff;
	border: 1px solid rgb(209, 209, 209);
	border-radius: 5px; 
}
.enroll_none{
	font-size: 12px;
  font-weight: bold;
  text-align: center;
	color: rgb(209,209,209);
}
/*------------Наши преподаватели-----------*/
.teachers{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #F6F6F6;
}
.teachers h2{
	padding-top: 60px;
	color:#000;
}
.teachers-block{
	width: 165px;
	margin: 10px;
}
.teachers-center{
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 40px;
	flex-wrap: wrap;	
}
.teachers-name{
	margin-top: 5px;
	font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000;
}
.teachers-specialty{
	margin-top: 5px;
	font-size: 14px;
  text-align: center;
	color: rgb(209,209,209); 
}
.teachers-block img{
	box-shadow: 0 5px 25px #000;
}
/*----------Отзывы выпускников-------------*/
.graduates{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}
.graduates h2{
	color: #000;
	margin-top: 40px;
}
.review{
	display: flex;
	background: #F5F5F5;
	width: 70%;
	padding: 40px;
	align-items: center;
	margin-top: 30px;
}
.review_left{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 75px;
}
.photo{
	position: relative;
	width: 164px;
  height: 164px;
	border-radius: 50%;
  box-shadow: 0px 3px 9.2px 0.8px rgba(67, 67, 67, 0.42);
}
.photo img{
	position: absolute;
	transform: translateX(50%) translateY(50%);
	right: 50%;
	bottom: 50%;
}
.review-right-text{
	position: relative;
	margin-bottom: 15px;
}
span.teachers-specialty{
	margin-left: 30px;
}
.review-right-text:before{
	content: '';
	position: absolute;
	width: 35px;
	height: 30px;
	background: url(../img/quotes.png);
	margin-left: -50px;
	margin-top: 15px;
}
.review:before{
	content: '';
	position: absolute;
	background: url(../img/arrow-right.png) no-repeat;
	width: 27px;
	height: 37px;
	margin-left: -100px;
}
.review:after{
	content: '';
	position: absolute;
	background: url(../img/arrow-left.png) no-repeat;
	width: 27px;
	height: 37px;
	margin-left: 70%;
}
/*--------Футер----------*/
footer{
	padding: 40px;
	display: flex;
	justify-content: space-around;
	background: #194D8C;
}
.footer_english{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer_span{
	display: flex;
}
.footer_span span{
	width: 40px;
	height: 40px;
	background-color: #D1DCE2;
	border-radius: 50%;
	margin-left: 25px;
}
.footer_english p{
	font-size: 13px;
	color: #D1DCE2;
}
p.english_go{
	color: #D1DCE2;
	font-size: 30px;
	font-weight: 600;
}
.footer_tel_mail{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer_tel_mail a{
	color: #D1DCE2;
}
.footer_tel_mail a{
	font-size: 14px;
}
a.footer_tel{
	font-weight: 600;
	font-size: 20px;
}

